0  4    * * *   www-data  gpg --refresh-keys
10 */6  * * *   www-data  ( cd /var/local/repository/log/ && screen -L -Logfile $(date --iso-8601)-update_repo.log -OdmS update_repo /usr/local/bin/update_repo )
10 */6  * * *   www-data  ( cd /var/local/repository/public/cox && bash update.sh )
